.token-list-container li a {
	height:30px;
	line-height: 30px;
}

#no-tokens-message h3 {
	text-align: center;
	color:#aaa;
	margin-bottom:8px;
}

#new-token-key {
	text-transform: uppercase;
}
#token-new .ui-input-text:nth-child(4) {
	margin-right: 45px;
}

.info-block {
	text-align: center;
	margin:30px 10px;
	opacity: 0.5;
	font-size:70%;
}

#qrscanner{
	width: 40px;
	height: 30px;
	float: right;
	top: 31px;
	position: relative;
	cursor: pointer;
}
#file_input{
	display: none;
}